modulation:16 frequency:301 /opt/www/sample1.ts 2203
modulation:16 frequency:302 /opt/www/sample2.ts 807
modulation:16 frequency:303 /opt/www/sample3.ts 617
modulation:16 frequency:304 /opt/www/sample4.ts 205
modulation:16 frequency:305 /opt/www/sample5.ts 805
modulation:16 frequency:306 /opt/www/sample6.ts 807
modulation:16 frequency:307 /opt/www/sample7.ts 804
modulation:16 frequency:308 /opt/www/sample1.ts 801
modulation:16 frequency:309 /opt/www/sample2.ts 603
modulation:16 frequency:310 /opt/www/sample3.ts 607
modulation:16 frequency:311 /opt/www/sample4.ts 606
modulation:16 frequency:312 /opt/www/sample5.ts 2207
modulation:16 frequency:313 /opt/www/sample6.ts 2203
modulation:16 frequency:314 /opt/www/sample7.ts 2203
modulation:16 frequency:315 /opt/www/sample1.ts 2203
modulation:16 frequency:316 /opt/www/sample2.ts 602
modulation:16 frequency:317 /opt/www/sample3.ts 206
modulation:16 frequency:318 /opt/www/sample4.ts 805
modulation:16 frequency:319 /opt/www/sample5.ts 810
modulation:16 frequency:320 /opt/www/sample6.ts 2201
